# Variables de entorno para el proyecto

# Base de datos
DATABASE_URL=postgresql://scraper_user:scraper_pass@localhost:5432/scraper_db
POSTGRES_USER=scraper_user
POSTGRES_PASSWORD=scraper_pass
POSTGRES_DB=scraper_db

# API
API_HOST=0.0.0.0
API_PORT=8000
LOG_LEVEL=INFO

# Selenium
SELENIUM_DRIVER_PATH=/usr/bin/chromedriver
SELENIUM_HEADLESS=true

# Configuración de PgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050

# Configuración de Airflow
AIRFLOW_DB=airflow
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
